<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css" />
    <style>
      img {
        max-width: 250px; /* กำหนดความกว้างสูงสุด */
        width: 100%; /* ให้ภาพยืดได้ตามขนาดหน้าจอ */
        height: auto; /* รักษาสัดส่วนของภาพ */
      }
    </style>
  </head>
  <body>
    <header>
      <h1><center>Welcome to <%= pageTitle %></center></h1>
    </header>

    <section>
      <center>
        <img src="/images/ShareImage.jpg"  alt="Featured Image" />
      </center>
    </section>

    <footer>
      <center>
        <p>
          &copy; <%= new Date().getFullYear() %> Crazymax. All rights
          reserved.
        </p>
      </center>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
